PROD=FALSE
PORT=3000

FRONTED_URL=http://localhost:4000

POSTGRE_DB_HOST=
POSTGRE_DB_USER=
POSTGRE_DB_NAME=
POSTGRE_DB_PASSWORD=
POSTGRE_DB_PORT=

# You can use mailtrap and your domain to send emails: https://docs.mailtrap.io/email-api-smtp/setup/sending-domain
MAILTRAP_API_TOKEN=
EMAIL_DOMAIN=yourdomain.com #domain set up in mailtrap
TEST_INBOX_ID= #Only needed to use the email sandboxes during development